
.education-cont{
    margin: 0 auto;
    display: flex;
    max-width: 700px;
    border: 1px solid #A11477;
    justify-content: center;
    padding: 20px;
}
.education-first{
    height: 100%;

}
.education-cont h1{
    font-size: 26px;
    font-family: 'Questrial', sans-serif;
    line-height: 1;
    margin-top: -0px;
    width: 95%;
}
.education-cont h2{
    font-size: 20px;
    font-weight: 300;
    width: 95%;
    
}
.education-cont h3{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0px;
    font-family: 'Questrial', sans-serif;
    
}
.education-cont p{
    line-height: 1;
    font-family: 'Questrial', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}
.education-date{
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 10px 0px 0px 0px;
    margin-bottom: -10px;
    
}
.education-graduate{
    padding: 5px 0px 0px 0px;
    background-color: #A11477;
    height: 30px;
    width: 85px;
}
.education-graduate p{
    color: white;
    margin-left: 5px;
    
}


.education-rect{
    width: 10px;
    height: 90px;
    background-color: #A11477;
    margin-right: 20px;
}
.education-bot{
    margin-top: 30px;
}